<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Button</button>

<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->

<p *ngIf="serverCreated">The server was created! It's name is {{ serverName }}</p>

<!-- <p *ngIf="serverCreated; else noServer">The server was created! It's name is {{ serverName }}!</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template> -->

<app-server *ngFor="let server of servers"></app-server>