<div class="container">
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)">
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Component</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Component</button>
      <app-server-element 
        *ngFor="let serverElement of serverElements" 
        [srvElement]="serverElement"
        [name]="serverElement.name">
          <p #contentParagraph>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
      </app-server-element>
    </div>
  </div>
</div>