<section (click)="onClick()">
  <h2>What are "Standalone Components"?</h2>
  <p>
    Standalone components are regular Angular components with one important
    twist: They don't require a <code>@NgModule</code> as a wrapper.
  </p>
  <p>
    Instead, you can use them, well, "standalone". They define their own
    dependencies and can be imported and used anywhere.
  </p>
  <p appHighlight>
    It's also not just "standalone components", but also "standalone directives"
    and "standalone pipes".
  </p>
</section>
