/* You can add global styles to this file, and also import other style files */
html {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 3rem;
  background-color: #323131;
  color: #f5f3f3;
}

a {
  text-decoration: none;
  color: #b499f9;
  font-weight: bold;
}

a:hover {
  color: #a382f7;
}
