nav {
  margin: 1rem 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}

main {
  max-width: 45rem;
  margin: 2rem auto;
}
